.not-found {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: #fff; */
  /* background-color: #fafafa; */
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}
